extends ../layout

block content
    h1.
        CabRequest #{cabrequest._id}
    p Name: #{cabrequest.name}
    p Phone: #{cabrequest.phone}
    p Pickup time: #{cabrequest.pickup}
    p Drop time: #{cabrequest.drop}